* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.nav-bar {
	display: block;
	display: flex;
	width: 100%;
	justify-content: flex-start;
	background-color: antiquewhite;
	height: 68px;
	padding: 34px;
	padding-left: 50px;
	padding-right: 50px;
	align-items: center;
}

.nav-bar a {
	font-size: 19px;
	padding-left: 50px;
	text-decoration: none;
	color: black;
}

.hero-component {
	background-color: rgba(70, 66, 61, 0.7);
	width: 50%;
	height: 250px;
	display: flex;
	flex-direction: column;
	display: inline-block;
	text-align: center;
	position: absolute;
	top: 30%;
	left: 50%;
	padding-top: 125px;
	transform: translate(-50%, -50%);
	padding: 18px;
	color: white;
	font-size: 24px;
}

.hero-component p {
	padding: 20px;
	padding-bottom: 20px;
	font-size: 18px;
}

.hero-component button {
	width: 150px;
	height: 40px;
	background-color: burlywood;
}

#hero-image {
	width: 100%;
	height: 60vh;
	display: block;
}

#services-title {
	text-align: center;
	padding: 20px;
}

.services-component {
	display: flex;

	text-align: center;
	padding: 25px;
	justify-content: space-evenly;
}

.service-item {
	width: 175px;
}
.service-item h4 {
	padding-top: 15px;
}
.services {
	background-color: wheat;
	width: 100%;
}

.featured-rooms {
	display: flex;
	justify-content: center;
}

#featured-title {
	text-align: center;
	padding: 20px;
}

.single-room {
	padding-left: 50px;
}

.single-room img {
	position: relative;
	width: 350px;
	height: 250px;
}

.room-image-wrap {
	position: relative;
}

.loading {
	text-transform: capitalize;
	text-align: center;
	margin-top: 3rem;
}

.featured-rooms {
	display: flex;
	flex-direction: column;
}
.featured-rooms-center {
	text-align: center;
	display: flex;
	justify-content: center;
	/* padding-left: 20px; */
}
.room {
	padding: 17px;
}

/* .image-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
} */
.img-container {
	position: relative;
}
.img-container img {
	width: 100%;
	display: block;
}

.price-top {
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.8);
	color: #fff;
	padding: 0.3rem 0.6rem 0.5rem;
	border-bottom-right-radius: 1rem;
	font-size: 0.5rem;
	text-align: center;
}
.price-top h6 {
	margin-bottom: 0;
	font-size: 0.9rem;
	font-weight: 300;
}

.btn-primary {
	display: inline-block;
	text-decoration: none;
	letter-spacing: 3px;
	color: #222;
	background: #af9a7d;
	padding: 0.4rem 0.9rem;
	border: 3px solid #af9a7d;
	transition: all 0.3s linear;
	text-transform: uppercase;
	cursor: pointer;
}
.btn-primary:hover {
	background: transparent;
	color: #af9a7d;
}

.room-link {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: scale(0);
	transition: all 0.3s linear;
}
.img-container:hover {
	background: rgba(0, 0, 0, 0.8);
}
.img-container:hover img {
	opacity: 0.3;
}
.img-container:hover .price-top {
	opacity: 0;
}
.img-container:hover .room-link {
	transform: translate(-50%, -50%) scale(1);
}

.room-info {
	background: #cfcfcf;
	text-transform: capitalize;
	padding: 0.5rem 0;
	text-align: center;
	font-weight: 700;
	letter-spacing: 3px;
}

.error {
	text-align: center;
	text-transform: uppercase;
	margin: 2rem 0;
}
.error h3 {
	padding-bottom: 25px;
}
